@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 199, 51%, 10%;
        --color-secondary: 200, 51%, 17%;
        --color-primary-light: 200, 79%, 45%;
        --color-secondary-light: 199, 100%, 54%;
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --node-border-radius: 10px;
    --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.13), -10px 0 15px rgba(233, 42, 103, 0.13);
    --bg-color: rgba(16, 26, 28, 1);
    --text-color: rgb(243, 244, 246);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
}

.toast {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.toast.fade-out {
    opacity: 0;
}

.react-flow__node {
    box-shadow: var(--node-box-shadow);
    @apply rounded-lg bg-primary-light dark:bg-primary;
}

.react-flow__node .wrapper {
    overflow: hidden;
    display: flex;
    padding: 2px;
    position: relative;
    border-radius: var(--node-border-radius);
    flex-grow: 1;
}

.gradient:before {
    content: '';
    position: absolute;
    padding-bottom: calc(100% * 1.41421356237);
    width: calc(100% * 1.41421356237);
    background: conic-gradient(
            from -160deg at 50% 50%,
            #e92a67 0deg,
            #a853ba 120deg,
            #2a8af6 240deg,
            #e92a67 360deg
    );
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.react-flow__node.selected .wrapper.gradient:before {
    content: '';
    background: conic-gradient(
            from -160deg at 50% 50%,
            #e92a67 0deg,
            #a853ba 120deg,
            #2a8af6 240deg,
            rgba(42, 138, 246, 0) 360deg
    );
    animation: spinner 4s linear infinite;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: -1;
}

@keyframes spinner {
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.gradient > div {
    @apply flex flex-grow rounded-lg relative justify-center;
    background: var(--bg-color);
    border-radius: var(--node-border-radius);
}

.react-flow__node .inner {
    padding: 16px 20px;
    border-radius: var(--node-border-radius);
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

@keyframes animated-gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.react-flow__edge .react-flow__edge-path {
    stroke: url(#edge-gradient);
    stroke-width: 4;
    stroke-opacity: 0.75;
}

.react-flow__handle {
    border: 1px solid cyan;
    z-index: 20;
}

.react-flow__handle.source {
    right: 10px
}

.react-flow__handle.target {
    left: 10px
}

.react-flow__handle.connectingto {
    background: #ff6060;
}

.react-flow__handle.valid {
    background: #55dd99;
}

.react-flow__attribution {
    opacity: 0.01;
}
.react-flow__controls button {
    background-color: hsl(var(--color-primary));
    color: var(--text-color);
    border-bottom: 1px solid #7c1125;
    /*border-radius: 5px 5px 5px 5px;*/
}
.react-flow__controls button:first-child {
    border-radius: 5px 5px 0 0;
}
.react-flow__controls button:last-child {
    border: 1px solid #7c1125;
    border-radius: 0 0 5px 5px;
}
.react-flow__controls button:hover {
    background-color: rgb(37, 37, 37);
}

.react-flow__controls button path {
    fill: var(--text-color);
}
.react-flow__controls {
    @apply bg-gradient-to-t to-red-700 from-purple-600 via-teal-500 p-[0.05rem] rounded-md;
}
.react-flow__minimap-svg {
    @apply rounded-lg bg-primary;
}
.react-flow__minimap {
    @apply bg-gradient-to-b to-red-700 from-purple-600 via-teal-500 p-[0.05rem] rounded-lg
}
.react-flow__minimap-mask {
    background-color: rgb(37, 37, 37);
}